<div ng-include="'components/navbar/navbar.html'"></div>


<div class="container">
  <div>
    <h3>Usuarios</h3>

    <div class="dropdown">
      <a class="dropdown-toggle btn btn-primary">
        Select a developer
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="user in users">
          <a ng-click="selectUser(user)">{{user.name}}</a>
        </li>
      </ul>
    </div>

    <div ng-show="selectedUser.name">
      <div class="dropdown">
        <a class="dropdown-toggle btn btn-default">
          Select a project
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="project in selectedUser.projects">
            <a ng-click="selectProject(project)">{{project.name}}</a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="panel panel-info" ng-show="selectedProject.name">
    <div class="panel-heading">
      <h3 class="panel-title">{{selectedUser.name}}</h3>
    </div>
    <div class="panel-body">
      <p><b>Project: </b>{{selectedProject.name}}</p>

      <div class="well">
        <canvas tc-chartjs-radar chart-options="chart.config" chart-data="chart.data" auto-legend></canvas>
      </div>
    </div>
  </div>
</div>

