<div class="col-md-12">
  <div class="col-md-3">
    <h3>Usuarios</h3>

    <div class="dropdown">
      <a class="dropdown-toggle btn btn-primary">
        Select a developer
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="user in users">
          <a ng-click="selectUser(user)">{{user.name}}</a>
        </li>
      </ul>
    </div>

  </div>
  <div class="col-md-9">
    <h3>Información</h3>

    <div ng-show="selectedUser.name">
      <select ng-model="selectedProject" ng-change="updateStats()"
              ng-options="project.name for project in selectedUser.projects">
        <option value="">-- choose project --</option>
      </select>

      <div ng-show="selectedProject.name">
        <canvas tc-chartjs-radar chart-options="chart.config" chart-data="chart.data" auto-legend></canvas>
      </div>
    </div>
  </div>
</div>

